[

    {% for art in article_list %}
    {% if forloop.last %}
    {
        "fields": {
            "headline": "{{ art.headline }}",
            "pub_date": "{{ art.pub_date }}",
            "id": "{{art.id}}",
            "authors": [
                {% for author in art.authors.all %}
                    {% if forloop.last %}
                    "{{author.name}}"
                    {% else %}
                    "{{author.name}}" ,
                {% endif %}
                {% endfor %}
            ]
        }
    }
    {% else %}
    {
        "fields": {
            "headline": "{{ art.headline }}",
            "pub_date": "{{ art.pub_date }}",
            "id": "{{art.id}}",
            "authors": [
                {% for author in art.authors.all %}
                    {% if forloop.last %}
                    "{{author.name}}"
                    {% else %}
                    "{{author.name}}" ,
                {% endif %}
                {% endfor %}
            ]
        }

    },

    {% endif %}
    {% endfor %}
]